@import "./variables.scss";

@mixin wave-background() {
    background: linear-gradient(
        315deg, 
        rgba($primary, 0.5) -30%, 
        // rgba($my-yellow-dull, 0.4) 35%, 
        rgba($background, 0.5) 25%, 
        rgba($secondary-dull, 0.5) 55%, 
        rgba($secondary, 0.5) 90%
    );
    // --animation-time': Math.random() * 10 + 's'
    animation: gradient 20s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

body {
    @include wave-background();
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@mixin wave-style {
    background: $background;
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 15em;
    animation: wave 15s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.6;
    bottom: 0;
    left: 0;
    z-index: -1;

    &:nth-of-type(2) {
        background: rgba($primary, 0.2);
        bottom: -1.25em;
        animation: wave 24s linear reverse infinite;
        opacity: 0.3;
    }

    &:nth-of-type(3) {
        background: rgba($secondary, 0.2);
        bottom: -2.5em;
        animation: wave 25s -1s reverse infinite;
        opacity: 0.9;
    }
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}